<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Drungap</name>
    <description>
        Aplicación para Consultar Drungap
    </description>
    <author email="yagofontenla95@gmail.com" href="http://cordova.io">
       Yago Fontenla Seco
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />-
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <access origin="*" />
        <allow-intent href="market:*" />
        <!--Color navbar-->
        <preference name="StatusBarBackgroundColor" value="#009688" />
        <!--Icon-->
        <icon src="res/android/xhdpi.png" density="xhdpi" />
    </platform>
    <platform name="ios">
        <access origin="*" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!--Color navbar-->
        <preference name="StatusBarBackgroundColor" value="#009688" />
    </platform>
</widget>
